<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Pago en tu Meta</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="max-width: 600px; margin: auto; padding: 20px;">
      <img src="https://firebasestorage.googleapis.com/v0/b/EspaciosYa-ap5jxr.firebasestorage.app/o/assets%2FFrame%2049.png?alt=media&token=196e2339-505b-424e-9517-c362bf1c939d" alt="EspaciosYa Logo" width="150" />      <p><strong>{{payerName}}</strong> ha contribuido <strong>${{amount}}</strong> a la meta <strong>{{goalTitle}}</strong>.</p>
      <p>Gracias por usar EspaciosYa 🐽</p>
    </div>
  </body>
</html>
